<%- include ('partials/head.html') %>

<%- include ('partials/navbar.html') %>
<div class="container mt-4 mb-5 pb-5">
    <div class="p-5 bg-dark rounded text-white animate__animated animate__backInDown">
        <h1>My first website in node</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In non ad nihil commodi, ducimus
            voluptatem tempora perferendis natus, corporis id rem aliquid! Expedita provident error corrupti, dicta
            fugit illum fuga.</p>
    </div>
</div>
<%- include ('partials/footer.html') %>